<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start" style="color: white">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="color: white">Student Management</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid fixed="true">
    <ion-row>
      <ion-col size="4"
        ><ion-card class="cardStudent">
          <ion-searchbar
            mode="ios"
            animated="true"
            placeholder="Search..."
            [(ngModel)]="searchInput"
          ></ion-searchbar>

          <div class="scrollable">
            <ion-list class="listStudent">
              <ion-item class="itemSelect" lines="none">
                <ion-select
                  interface="popover"
                  placeholder="Select group"
                  [(ngModel)]="selectedGroup"
                >
                  @for (item of allGroups; track $index) {
                  <ion-select-option [value]="item.name"
                    >{{item.name}}</ion-select-option
                  >
                  }
                </ion-select>
                <ion-toggle
                  [enableOnOffLabels]="true"
                  [(ngModel)]="onlyRegistered"
                  >Verified</ion-toggle
                >
              </ion-item>
              <div style="border: 1px solid #fcf9f9; border-radius: 15px">
                @for (item of filteredUsers; track $index) {
                <ion-item
                  lines="none"
                  class="itemStudent"
                  button
                  (click)="user = item"
                >
                  <ul class="custom-list">
                    <li>{{item.legal_name}}</li>
                    <small>
                      {{item.initiated_name === "undefined" ? "" :
                      item.initiated_name}}
                    </small>
                  </ul>
                </ion-item>
                } @empty { @for (x of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]; track
                $index) {
                <ion-item lines="none" class="itemSelect">
                  <ion-skeleton-text
                    style="width: 100%; border-radius: 10px"
                    animated="true"
                  ></ion-skeleton-text>
                </ion-item>

                } }
              </div>
            </ion-list>
          </div>
        </ion-card>
      </ion-col>
      <ion-col size="8">
        <ion-card class="cardStudent">
          <ion-item lines="none" class="itemSelect">
            <ion-input
              placeholder="Email"
              type="email"
              [(ngModel)]="user.email"
            ></ion-input>
          </ion-item>
          <ion-item lines="none" class="itemSelect">
            <ion-input
              placeholder="Phone Number"
              type="tel"
              [(ngModel)]="user.phone"
            ></ion-input>
          </ion-item>
          <ion-item lines="none" class="itemSelect">
            <ion-input placeholder="Level" [(ngModel)]="user.grade"></ion-input>
          </ion-item>
          <ion-item lines="none" class="itemSelect">
            <ion-select
              placeholder="Voice Scale"
              [(ngModel)]="user.voice_scale"
            >
              <ion-select-option value="W1">W1</ion-select-option>
              <ion-select-option value="B1">B2</ion-select-option>
              <ion-select-option value="B4">B4</ion-select-option>
              <ion-select-option value="B5">B5</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item lines="none" class="itemSelect" class="itemSelect">
            <ion-select placeholder="Language" [(ngModel)]="user.language">
              <ion-select-option value="English">English</ion-select-option>
              <ion-select-option value="Spanish">Spanish</ion-select-option>
              <ion-select-option value="Portuguese"
                >Portuguese</ion-select-option
              >
            </ion-select>
          </ion-item>
          <ion-item lines="none" class="itemSelect">
            <ion-select placeholder="Group" [(ngModel)]="user.group_name">
              @for (item of allGroups; track $index) {
              <ion-select-option [value]="item.name"
                >{{item.name}}</ion-select-option
              >
              }
            </ion-select>
          </ion-item>
          <ion-item lines="none" class="itemSelect">
            <ion-toggle
              [enableOnOffLabels]="true"
              [(ngModel)]="user.is_registered"
            >
              Verified</ion-toggle
            >
          </ion-item>
          <ion-item lines="none" class="itemSelect">
            <ion-button (click)="editUser(user)" class="buttons"
              >Save changes</ion-button
            >
            <ion-button slot="end" (click)="deleteUser(user)" class="buttons"
              >Delete</ion-button
            >
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
