<app-header [header]="'Homework Management'" [isBackButton]="true"></app-header>

<ion-content [fullscreen]="true" mode="ios">
  <ion-toast [isOpen]="toast.open" [message]="toast.message" (ionDidDismiss)="toast.open=false" [color]="toast.color" duration="2000" ></ion-toast>
  <ion-grid fixed="true">
    <ion-row>
      <ion-col>
        <ion-select
          mode="md"
          interface="popover"
          placeholder="Grade"
          [(ngModel)]="selectedGrade"
        >
          @for (grade of homework_array; track $index) {
          <ion-select-option [value]="grade.grade"
            >{{grade.grade}}</ion-select-option
          >
          }
        </ion-select>
      </ion-col>
      <ion-col>
        <ion-select
          mode="md"
          interface="popover"
          placeholder="Level"
      
          (ionChange)="onLevelChange($event)"
        >
          @for (item of filteredLevel; track $index) {
          <ion-select-option [value]="item.name"
            >{{item.name}}</ion-select-option
          >
          }
        </ion-select>
      </ion-col>
      <ion-col>
        <ion-select
          mode="md"
          interface="popover"
          placeholder="Class"
          [value]="selectedClass"
          (ionChange)="onClassChange($event)"
        
        >
          @for (item of filteredClass; track $index) {
          <ion-select-option [value]="item"
            >{{item.name}}</ion-select-option
          >
          }
        </ion-select>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        @if(selectedClass===''){
        <ion-card>
          <ion-item lines="none" class="ion-text-center">
            <ion-label>{{selectSmt}}</ion-label>
          </ion-item></ion-card
        >

        }
         @for (item of filteredHomework; track $index) {
        <ion-card>
          <ion-item lines="none"> English Title:  {{item?.title}}</ion-item>
          <ion-item lines="none"
            >Spanish Title: {{item?.title_s}}</ion-item
          >
          <ion-item lines="none"
            >Portuguese Title: {{item?.title_p}}</ion-item
          >
          <ion-item lines="none"> 
            <ion-chip style="--background:white;">
              {{(item?.is_exercise) ? 'Excercise' : 'Melody'}}
            </ion-chip>
          </ion-item>
          <ion-fab vertical="top" horizontal="end">
            <ion-fab-button size="small">
              <ion-icon name="chevron-back-outline"></ion-icon>
            </ion-fab-button>
            <ion-fab-list side="start">
              <ion-fab-button>
                <ion-icon name="add-outline" (click)="homework_modal=true; type='add'"></ion-icon>
              </ion-fab-button>
              <ion-fab-button>
                <ion-icon name="pencil-outline" (click)="homework_modal=true; new_homework=item; type='edit'"></ion-icon>
              </ion-fab-button>
              <ion-fab-button>
                <ion-icon name="trash-bin-outline" (click)="homework_modal=true; new_homework=item; type='delete'"></ion-icon>
              </ion-fab-button>
            </ion-fab-list>
          </ion-fab>
        </ion-card>
        } @empty{
          @if( class_selected){
          <ion-card>
            <ion-card-content>
              <ion-item lines="none" style="--background:rgba(255, 255, 255, 0);">
                <ion-label>Add Homework</ion-label>
                <ion-button (click)="homework_modal=true; type='add'">
                  <ion-icon name="add-outline"></ion-icon>
                </ion-button>
              </ion-item>
            </ion-card-content>
          </ion-card>
          }

        }
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>


<ion-modal [isOpen]="homework_modal" (didDismiss)="homework_modal=false">
  <ng-template>
    <ion-item>
      <ion-label>
        @if(type=='add'){
        Add Homework
        }@else if(type=='edit'){
        Edit Homework
        }@else{
        Delete Homework
        }

        For {{selectedClass.name}} | {{selectedClass.id}} 
      </ion-label>
      <ion-icon name="close-outline" slot="end" (click)="homework_modal=false"></ion-icon>
    </ion-item>
    <ion-content>
        <ion-card>
           <ion-card-content>
            @if(type=='add' || type=='edit'){   
             <ion-item>
              <ion-input placeholder="English Title" labelPlacement="stacked" [(ngModel)]="new_homework.title"></ion-input>
             </ion-item>
             <ion-item>
              <ion-input placeholder="Spanish Title" labelPlacement="stacked" [(ngModel)]="new_homework.title_s"></ion-input>
             </ion-item>
             <ion-item>
              <ion-input placeholder="Portuguese Title" labelPlacement="stacked" [(ngModel)]="new_homework.title_p"></ion-input>
             </ion-item>
             <ion-item>
              <ion-label slot="start">Is Exercise</ion-label>
              <ion-checkbox [checked]="new_homework.is_exercise" (ionChange)="checkbox_handler($event)" slot="end"></ion-checkbox>
             </ion-item>
             }@else{
                    <ion-card>
                       <ion-card-content>
                         <ion-title>
                           Are you sure you want to delete this homework?
                         </ion-title>
                       </ion-card-content>
                    </ion-card>

                    <ion-button expand="full" (click)="deleteHomework()">Delete</ion-button>
             }
         
             @if(type=='add' || type=='edit'){
             <ion-button expand="full"  (click)="addHomework()">{{type=='add' ? 'Add' : 'Edit'}}</ion-button>
             }
           </ion-card-content>
        </ion-card>
    </ion-content>
  </ng-template>
</ion-modal>
