ion-select {
  --background: #f5f5f586;
  --padding-start: 30px;
  --border-radius: 10px;
}
ion-card {
  --background: #f5f5f586;
  --border-radius: 10px;
}
ion-item {
  --background: #f5f5f53b;
  border-bottom: 1px solid #f5f5f5;
}

ion-fab-button {
  --background: #ae9af7e1;
  --background-activated: #ffffffb7;
  --background-hover: #f7f2ff3a;
  --color: #000000;
}
