<ion-header [translucent]="true" class="ion-no-border" >
  <ion-toolbar>



    <ion-buttons slot="start">
      @if(isBackButton) {

        <ion-icon  name="chevron-back-outline" (click)="goBack()" style="cursor: pointer" size="large"></ion-icon>

      }@else {
        <ion-menu-button></ion-menu-button>
      }
    </ion-buttons>
    @if(!isMobile()) {
    <ion-title style="font-size: 18px; font-weight: 600; color: #ffffff;">
      
      {{header}} {{auth._user?.student_groups?.name ? ' | ' + auth._user?.student_groups?.name : ''}}
   
    </ion-title>
    }
    <ion-buttons slot="end">
      <ion-chip style="--background: rgba(255, 255, 255, 0)">
        <ion-select
          aria-label="Favorite Fruit"
          [placeholder]="auth.user_language === 'English' ? 'ENG' : auth.user_language === 'Spanish' ? 'SPN' : 'POR'"
          (ionChange)="changeLang($event.detail.value); changeLang_auth($event.detail.value)"
        >
          <ion-select-option value="English">ENG</ion-select-option>
          <ion-select-option value="Spanish">SPN</ion-select-option>
          <ion-select-option value="Portuguese">POR</ion-select-option>
        </ion-select>
      </ion-chip>

      @if(auth._user?.is_admin) {
        <ion-buttons slot="end">
          <ion-chip style="--background: rgba(255, 255, 255, 0)">
            <ion-select
              aria-label="Favorite Fruit"
              [placeholder]="auth._user.voice_scale"
              (ionChange)="changeVoiceScale($event.detail.value)"
            >
              <ion-select-option value="W1">W1</ion-select-option>
              <ion-select-option value="B1">B1</ion-select-option>
              <ion-select-option value="B4">B4</ion-select-option>
              <ion-select-option value="B5">B5</ion-select-option>

            </ion-select>
          </ion-chip>
          </ion-buttons>
      }

      @if(!auth._logged_in) {
      <ion-chip style="--background: white" (click)="login_open=true">
        {{'Log In' | translate}}
      </ion-chip>
      }@else {
      <ion-chip style="--background: white" (click)="user_profile=true">
        {{auth._user.user_name}}
      </ion-chip>
      }
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-toast
  [message]="message"
  [color]="color"
  [duration]="3000"
  [isOpen]="toastBool"
  (didDismiss)="toastBool = false"
  position="top"
></ion-toast>


<!-- user profile -->
<ion-modal
  [isOpen]="user_profile"
  (didDismiss)="user_profile = false"
  style="
    --background: linear-gradient(to bottom, #9290ff, #ff93fa);
  "
>
  <ng-template>
    <app-profile
      (profileOutput)="user_profile = false"
      [profile_open]="user_profile"
    ></app-profile>
  </ng-template>
</ion-modal>

<!-- login -->
<ion-modal
  [isOpen]="login_open"
  (didDismiss)="login_open = false"
  style="--background: linear-gradient(to bottom, #9290ff, #ff93fa);"
  >
  
  <ng-template>
    <app-login
      (_message)="handleNotification( $event)"
      (loginOutput)="open($event)"
      [login_open]="login_open"
    ></app-login>
  </ng-template>
</ion-modal>