<ion-header [translucent]="true" class="ion-no-border" >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>{{header}}</ion-title>
    <ion-buttons slot="end">
      <ion-chip style="--background: rgba(255, 255, 255, 0)">
        <ion-select
          aria-label="Favorite Fruit"
          value="ENG"
          [(ngModel)]="selectLang"
          (ionChange)="changeLang()"
        >
          <ion-select-option value="ENG">ENG</ion-select-option>
          <ion-select-option value="SPN">SPN</ion-select-option>
          <ion-select-option value="POR">POR</ion-select-option>
        </ion-select>
      </ion-chip>
      <!-- @if(auth._user?.is_admin) {
      <ion-chip
        style="--background: rgb(247, 219, 255)"
        (click)="edit_text(); edit_open=true"
        >Edit</ion-chip
      >
      } -->

      @if(!auth._logged_in) {
      <ion-chip style="--background: white" (click)="login_open=true">
        Log In
      </ion-chip>
      }@else {
      <ion-chip style="--background: white" (click)="user_profile=true">
        {{auth._user.user_name}}
      </ion-chip>
      }
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-toast
  [message]="message"
  [color]="color"
  [duration]="3000"
  [isOpen]="toastBool"
  (didDismiss)="toastBool = false"
  position="top"
></ion-toast>


<!-- user profile -->
<ion-modal
  [isOpen]="user_profile"
  (didDismiss)="user_profile = false"
  style="
    --background: linear-gradient(to bottom, #9290ff, #ff93fa);
  "
>
  <ng-template>
    <app-profile
      (profileOutput)="user_profile = false"
      [profile_open]="user_profile"
    ></app-profile>
  </ng-template>
</ion-modal>

<!-- login -->
<ion-modal
  [isOpen]="login_open"
  (didDismiss)="login_open = false"
  style="--background: linear-gradient(to bottom, #9290ff, #ff93fa);"
  >
  
  <ng-template>
    <app-login
      (_message)="handleNotification( $event)"
      (loginOutput)="open($event)"
      [login_open]="login_open"
    ></app-login>
  </ng-template>
</ion-modal>