<ion-app>
 
    <ion-menu contentId="main-content" type="overlay">
      <ion-content >
        <ion-list id="inbox-list" style="background-color: rgba(226, 121, 203, 0);">
          <ion-list-header>Vasis Studio</ion-list-header>
          <ion-note>{{'vasis@gmail.com'}}</ion-note>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
           @if(p.access === 'public' && !auth._logged_in){
            <ion-item routerDirection="root" style="--background: rgba(226, 121, 203, 0);" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
             
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
           } 
           @if(auth._logged_in && auth._user.is_registered){
              @if(p.access === 'admin' && auth._user.is_admin){  
              <ion-item routerDirection="root" style="--background: rgba(226, 121, 203, 0);" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
                <ion-label>{{ p.title }}</ion-label>
              </ion-item>
              }
              @if(p.access !== 'admin'){
                <ion-item routerDirection="root" style="--background: rgba(226, 121, 203, 0);" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
                  <ion-label>{{ p.title }}</ion-label>
                </ion-item>
              }
           }   
       
        
          </ion-menu-toggle>
        </ion-list>



      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>

</ion-app>
