<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Vasis Studio</ion-title>
    <ion-buttons slot="end">
      <ion-chip style="--background: white" (click)="login_open=true">
        Log In
      </ion-chip>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-modal
  [isOpen]="login_open"
  (didDismiss)="login_open = false"
  style="
    --border-radius: 10px;
    backdrop-filter: blur(10px);
    --background: linear-gradient(to bottom, #9290ff, #ff93fa);
  "
>
  <ng-template>
    <app-login
      (loginOutput)="open($event)"
      [login_open]="login_open"
    ></app-login>
  </ng-template>
</ion-modal>

<ion-content [fullscreen]="true">
  <ion-grid fixed="true">
    <ion-row>
      <ion-col>
        <div class="centered-logo-container">
          <img src="../../../assets/img/logo.PNG" class="centered-logo" />
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <swiper-container
          slides-per-view="auto"
          speed="500"
          navigation="true"
          pagination="true"
        >
          <swiper-slide>
            <ion-card class="image-card-background"> </ion-card>
          </swiper-slide>

          <swiper-slide>
            <ion-card class="image-card-background"> </ion-card>
          </swiper-slide>

          <swiper-slide>
            <ion-card class="image-card-background"> </ion-card>
          </swiper-slide>
        </swiper-container>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div style="display: flex; justify-content: center">
          <ion-item lines="none" style="border-radius: 10px; max-width: 500px">
            <ion-icon
              name="logo-instagram"
              size="large"
              style="margin-right: 20px"
            ></ion-icon>
            <ion-icon
              name="logo-facebook"
              size="large"
              style="margin-right: 20px"
            ></ion-icon>
            <ion-icon
              name="logo-google"
              size="large"
              style="margin-right: 20px"
            ></ion-icon>
            <ion-icon name="logo-whatsapp" size="large"></ion-icon>
          </ion-item>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col sizeLg="6" sizeMd="12" sizeSm="12" sizeXs="12">
        <app-youtube-player
          videoUrl="https://www.youtube.com/watch?v=dQw4w9WgXcQ"
        >
        </app-youtube-player>
        <ion-item> hi </ion-item>
      </ion-col>

      <ion-col sizeLg="6" sizeMd="12" sizeSm="12" sizeXs="12">
        <app-youtube-player
          videoUrl="https://www.youtube.com/watch?v=dQw4w9WgXcQ"
        >
        </app-youtube-player>
        <ion-item> hi </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card class="messages">
          <ion-card-header>
            <ion-title> Latest Messages </ion-title>
          </ion-card-header>
          <ion-card-content>
            @for (message of messages; track message) {

            <br />
            <ion-item lines="full" style="--background: transparent">
              <ion-label>{{ message.message }}</ion-label>
              <ion-button slot="end"> Click Now </ion-button>
            </ion-item>
            <br />
            }
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-card class="image-card-background1"> </ion-card>
    </ion-row>

    <ion-row>
      <ion-col sizeLg="6" sizeMd="12" sizeSm="12" sizeXs="12">
        <app-youtube-player
          videoUrl="https://www.youtube.com/watch?v=dQw4w9WgXcQ"
        >
        </app-youtube-player>
        <ion-item> hi </ion-item>
      </ion-col>

      <ion-col sizeLg="6" sizeMd="12" sizeSm="12" sizeXs="12">
        <app-youtube-player
          videoUrl="https://www.youtube.com/watch?v=dQw4w9WgXcQ"
        >
        </app-youtube-player>
        <ion-item> hi </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
