<app-header (changeLangEmitter)="change_lang($event)" [header]="'Menu' | translate"></app-header>

<ion-toast
  [message]="message"
  [color]="color"
  [duration]="3000"
  [isOpen]="toastBool"
  (didDismiss)="toastBool = false"
  position="top"
></ion-toast>





<ion-content [fullscreen]="true" [scrollY]="true">
 @if(auth._logged_in && auth._user.is_admin){
  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button (click)="edit_text(); edit_open=true" >
      <ion-icon name="create-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  }
  @if(auth._logged_in && !auth._user.is_registered){
       <ion-card style="border-radius: 10px;">
         <ion-card-content>
            <ion-item style="--background: rgba(0, 0, 0, 0);" lines="none">
               <ion-label>
                Your account is not registered yet. Please wait for our admin to email you once registration is complete.
               </ion-label>
            </ion-item>
         </ion-card-content>
       </ion-card>
      }
    
  <ion-grid fixed="true">
    <ion-row>
      <ion-col>
        <div class="centered-logo-container">
          <img src="../../../assets/img/logo.PNG" class="centered-logo" />
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <app-swiper
          [_images]="_images"
          (selectImg)="selectedImageId = $event.id; edit_img_open = true"
        ></app-swiper>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div style="display: flex; justify-content: center">
          <ion-item lines="none" style="border-radius: 10px; max-width: 500px">
            <ion-icon
              name="logo-instagram"
              size="large"
              style="margin-right: 20px"
            ></ion-icon>
            <ion-icon
              name="logo-facebook"
              size="large"
              style="margin-right: 20px"
            ></ion-icon>
            <ion-icon
              name="logo-google"
              size="large"
              style="margin-right: 20px"
            ></ion-icon>
            <ion-icon name="logo-whatsapp" size="large"></ion-icon>
          </ion-item>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      @for (item of text?.slice(0, 2); track $index) {
      <ion-col sizeLg="6" sizeMd="12" sizeSm="12" sizeXs="12">
        <div class="video-container">
          <iframe
            width="100%"
            height="100%"
            [src]="item.video_id"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
        <ion-item>
          {{auth.user_language === 'English' ? item.video_title_e : auth.user_language === 'Portuguese' ?
          item.video_title_p : item.video_title_s }}
        </ion-item>
      </ion-col>
      }
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card class="messages">
          <ion-card-header>
            <ion-title> {{'Latest Messages' | translate}} </ion-title>
          </ion-card-header>
          <ion-card-content>
            @for (message of text; track $index ) { @if(message.message_e !==
            null){
            <br />
            <ion-item lines="full" style="--background: transparent">
              <ion-label>
                {{auth.user_language === 'English' ? message.message_e : auth.user_language ===
                'Portuguese' ? message.message_p : message.message_s }}
              </ion-label>
              <a href="{{link}}" target="_blank">
                <ion-button slot="end"> {{'Click Now' | translate}} </ion-button>
              </a>
            </ion-item>
            <br />
            } }
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-card
        class="image-card-background1"
        (click)="edit_img_open = true; selectedImageId = 4"
      >
        <img src="{{img}}" />
      </ion-card>
    </ion-row>

    <ion-row>
      @for (item of text?.slice(-2); track $index) {
      <ion-col sizeLg="6" sizeMd="12" sizeSm="12" sizeXs="12">
        <div class="video-container">
          <iframe
            width="100%"
            height="100%"
            [src]="item.video_id"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
        <ion-card style="border-radius: 10px;">
          <ion-card-content>
            {{auth.user_language === 'English' ? item.video_title_e : auth.user_language === 'Portuguese' ?
          item.video_title_p : item.video_title_s }}
          </ion-card-content>
        </ion-card>
      </ion-col>
      }
    </ion-row>
  </ion-grid>
</ion-content>


<ion-modal
  [isOpen]="payment_notification"
  (didDismiss)="payment_notification = false"
>
  <ng-template>
    <ion-item>
      <ion-icon
        name="close"
        (click)="payment_notification = false"
        slot="end"
        style="cursor: pointer"
      ></ion-icon>
    </ion-item>
    <ion-content>
      <img
        class="responsive-image"
        src="../../../assets/notifications/eng.jpeg"
        alt="My responsive image"
        *ngIf="auth._user.language === 'English'"
      />

      <img
        class="responsive-image"
        src="../../../assets/notifications/sp.jpeg"
        alt="My responsive image"
        *ngIf="auth._user.language === 'Spanish'"
      />

      <img
        class="responsive-image"
        src="../../../assets/notifications/por.jpeg"
        alt="My responsive image"
        *ngIf="auth._user.language === 'Portuguese'"
      />
    </ion-content>
  </ng-template>
</ion-modal>

<!-- edit -->
<ion-modal
  [isOpen]="edit_open"
  (didDismiss)="edit_open = false"
  style="--height: 100%; --width: 100%;"
>


  <ng-template>

    <ion-header>
      <ion-toolbar>
        <ion-segment
          [(ngModel)]="selectLang"
          (ionChange)="change_lang(selectLang)"
          mode="ios"
          value="English"
        >

          <ion-segment-button value="English">
            <ion-label>English</ion-label>
          </ion-segment-button>
          <ion-segment-button value="Spanish">
            <ion-label>Spanish</ion-label>
          </ion-segment-button>
          <ion-segment-button value="Portuguese">
            <ion-label>Portuguese</ion-label>
          </ion-segment-button>
        </ion-segment>
        <ion-buttons slot="end">
          <ion-icon name="close-outline" (click)="edit_open = false" size="large" style="cursor: pointer"></ion-icon>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content>

        <ion-grid fixed="true"> 
           <ion-row>
             <ion-col>
              @for (item of textForEdit; track $index) {
                @if(item.link !== null){
                  <ion-card>
                    <ion-card-header>
                       {{'Message ' + ($index + 1)}}
                    </ion-card-header>
                    <ion-card-content>
                      <ion-item lines="none" class="itemModal">
                        <ion-input [(ngModel)]="item.message"> </ion-input>
                      </ion-item>
                      
                      <ion-item lines="none" class="itemModal">
                        <ion-input [(ngModel)]="item.link"> </ion-input>
                      </ion-item>
                    </ion-card-content>
                  </ion-card>
                }
              }
        
              @for(item of textForEdit; track $index){ 
                 <ion-card>
                  <ion-card-header>
                    {{'Video ' + ($index + 1)}}
                 </ion-card-header>
                    <ion-card-content>
                      <ion-item lines="none" class="itemModal">
                        <ion-input [(ngModel)]="item.video_title"> </ion-input>
                      </ion-item>
        
                      <ion-item lines="none" class="itemModal">
                        <ion-input  [(ngModel)]="item.video_id"></ion-input>
                      </ion-item>
                    </ion-card-content>
                 </ion-card>
        
              }
                <ion-item>
                  <ion-button (click)="saveEdit(textForEdit)" slot="end">Save</ion-button>
                </ion-item>
             </ion-col>
           </ion-row>
        </ion-grid>
    
    </ion-content>

  </ng-template>
</ion-modal>

<!-- img -->
<ion-modal
  [isOpen]="edit_img_open"
  (didDismiss)="edit_img_open = false"
  style="
    --background: linear-gradient(to bottom, #9290ff, #ff93fa);
  "
>
  <ng-template>
    <ion-item>
      <ion-icon name="close-outline" slot="end" (click)="edit_img_open = false" style="cursor: pointer"></ion-icon>
    </ion-item>
    <ion-content>
      <ion-card>
        <ion-card-content>
          <ion-input type="file"  (change)="onFileSelected($event)">
          </ion-input>
  
          <ion-button (click)="uploadImage()">Upload file</ion-button>
        </ion-card-content>
  
      </ion-card>
    </ion-content>
 
  </ng-template>
</ion-modal>