ion-card {
  border-radius: 15px;
  background-color: rgba(253, 253, 253, 0.5);
  border: 2px solid rgb(255, 255, 255);
  box-shadow: none;
}

ion-list {
  padding: 10px;
  border-radius: 15px;
  background-color: rgba(194, 16, 16, 0);
}

ion-item {
  --background: rgba(238, 138, 216, 0);
}
