<ion-card>
  <ion-list>
    <ion-item lines="none">
      <ion-label>Name: </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label>Email:</ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label>Phone Number:</ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label>Group:</ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label>Grade:</ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label>Voice Scale:</ion-label>
    </ion-item>
  </ion-list></ion-card
>
<ion-buttons
  style="position: fixed; bottom: 0; right: 0; padding: 10px; color: white"
>
  <ion-button (click)="closeModal(profile_open)">Close</ion-button>
</ion-buttons>
