.selectedClass{
    --background:rgb(220, 188, 235);
}
ion-item{
    cursor: pointer;;
}
.ion-item-ns:hover{

    --background:rgb(242, 229, 248);
}

.scrollable {
  height: 90vh;
  overflow-y: auto;
  overflow-x: hidden;
}

/* Sleek and modern scrollbar styles */
.scrollable::-webkit-scrollbar {
  width: 4px;
}

.scrollable::-webkit-scrollbar-track {
  background: transparent;
}

.scrollable::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.521);
  border-radius: 2px;
  transition: background 0.3s ease;
}

.scrollable::-webkit-scrollbar-thumb:hover {
  background: rgba(248, 248, 248, 0.699);
}
