<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>homework-grading</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            Groups
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <ion-card-header>
            Students/Homework
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <ion-card-header> 
            Homework Grading
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
